<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <if condition='isDefined("logs.dir")'>
    <then>
      <include resource="logback-file.xml" />
      <logger name="com.himanshu" level="debug" additivity="false">
        <appender-ref ref="FILE-AUDIT"/>
      </logger>

      <root level="error">
        <appender-ref ref="FILE-AUDIT"/>
      </root>
    </then>
    <else>
      <include resource="logback-console.xml" />
      <logger name="com.himanshu" level="debug" additivity="false" />
      <logger name="org.springframework.security" level="debug" additivity="false" />
      <root level="info">
        <appender-ref ref="STDOUT"/>
      </root>
    </else>
  </if>

</configuration>